@using MVCCrudProject.Models.Domain;
@model MVCCrudProject.Models.AddEmployeeViewModel

@{
    ViewData["Title"] = "Add New Employee";
    var departments = ViewBag.Departments as List<Department>;
}

<h1>Add New Employee</h1>
<form method="post" action="Add" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Fname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input type="text" class="form-control" asp-for="Lname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">E-mail</label>
        <input type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <select class="form-control" asp-for="DeptID">
            <option value="">Please Select Your Department</option>
            @foreach (var department in departments)
            {
                <option value="@department.Id">
                    
                    @department.DeptName 
                </option>
 
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>