@using MVCCrudProject.Models.Domain;
@model MVCCrudProject.Models.UpdateEmployeeViewModel

@{
    ViewData["Title"] = "Edit Employee";
    var departments = ViewBag.Departments as List<Department>;
}

<h1>Edit Employee</h1>
<form method="post" id="editEmployeeForm" action="Edit" class="mt-5">
    <div class="mb-3">
        <label for="" class="form-label">Id</label>
        <input required type="text" class="form-control" asp-for="Id" readonly>
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Name</label>
        <input required type="text" class="form-control" asp-for="Fname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Surname</label>
        <input required type="text" class="form-control" asp-for="Lname">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">E-mail</label>
        <input required type="email" class="form-control" asp-for="Email">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Date Of Birth</label>
        <input required type="date" class="form-control" asp-for="DateOfBirth">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Salary</label>
        <input required type="number" class="form-control" asp-for="Salary">
    </div>
    <div class="mb-3">
        <label for="" class="form-label">Department</label>
        <select required class="form-control" asp-for="DeptID">
            <option value="">Please Select Your Department</option>
            @foreach (var department in departments)
            {
                <option value="@department.Id">

                    @department.DeptName
                </option>

            }
        </select>
    </div>
    <button class="btn btn-primary" name="edit-btn">Save Changes</button>
    <a class="btn btn-secondary" href="Index.cshtml">Back</a>
</form>

@*delete butonunudur bu *@
<script>
    const form = document.getElementById("editEmployeeForm")
    form.addEventListener("submit", function (e) {
        e.preventDefault();
        return Swal.fire({
            title: 'Do you want to save the changes?',
            showDenyButton: true,
            showCancelButton: true,
            confirmButtonText: 'Save',
            denyButtonText: `Don't save`,
        }).then((result) => {
            /* Read more about isConfirmed, isDenied below */
            if (result.isConfirmed) {
                form.submit().then(function () {
                    Swal.fire("Success");
                });
                Swal.fire('Saved!', '', 'success')
            } else if (result.isDenied) {
                Swal.fire('Changes are not saved', '', 'info')
            }
        })
    })
</script>